.main-header {
  margin-bottom: 16px;

  &>div {
    min-height: 621px;
    background-image: url('../../img/header-bg-mobile@1x.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.main-header__head {
  margin-top: 47px;

  span {
    display: block;
    margin-bottom: 43px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0;
    text-transform: uppercase;
  }
}

.main-header__title {
  @include ma-pa-reset;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}
