.navigation {
  padding-top: 27px;

  &__btn {
    @include ma-pa-reset;
    display: block;
    position: relative;
    z-index: 3;
    width: 22px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-image: url("../../img/header-menu-icon.mobile.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__btn--close {
    background-image: none;
    width: 22px;
    height: 16px;

    &::before {
      position: absolute;
      content: "";
      z-index: 5;
      top: 8px;
      left: 1px;
      transform: rotate(45deg);
      width: 20px;
      height: 2px;
      background-color: $black-color;
    }

    &::after {
      position: absolute;
      content: "";
      z-index: 5;
      top: 8px;
      left: 1px;
      transform: rotate(-45deg);
      width: 20px;
      height: 2px;
      background-color: $black-color;
    }
  }

  ul {
    @include list-reset;
    width: 100%;
    transform: translateX(-15px);
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    background-color: $text-color;
    padding-left: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
    /*!!!!!!!!!!!!!!!!!!!*/

    li {
      &:hover .navigation__link {
        color: $main-color;
      }
    }
  }

  &__link {
    display: block;
    color: $white-color;
    text-decoration: none;
  }
}

// @media (min-width: $tablet-width) {
//   .navigation {
//     ul {
//       width: 420px;
//     }
//   }
// }
