.social ul {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  & li {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $text-color;
  border-radius: 50%;
}
