body {
  @include ma-pa-reset;
  font-family: "RalewayRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
  // letter-spacing: 0.05em;
  background-color: $white-color;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
