$white-color: #ffffff;
$black-color: #000000;
$text-color: #4c4c4c;
// $active-color: #fb0275;
$main-color: #ff0000;
$link-color: #3594dd;
$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
